<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog autoReload="true" internalLogLevel="Warn" internalLogFile="nlog-log.txt">

    <targets>
      <target type="Null" name="blackhole" />

      <target type="ColoredConsole" name="console" encoding="utf-8" />

      <target name="log4net_file" type="File" fileName="c:/temp/logs/api.txt" keepFileOpen="false" encoding="UTF-8">
        <layout type="LayoutWithHeaderAndFooter">
          <header type="SimpleLayout" text="&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot; ?&gt;&lt;root xmlns:log4j=&quot;http://jakarta.apache.org/log4j/&quot;&gt;" />
          <layout type="Log4JXmlEventLayout" />
          <footer type="SimpleLayout" text="&lt;/root&gt;" />
        </layout>
      </target>
    </targets>

    <rules>
      <!--Skip Microsoft logs and so log only own logs-->
      <!--<logger name="*" maxlevel="Info" writeTo="blackhole" final="true" />-->
      <!--<logger name="*" minlevel="Trace" writeTo="ownFile-web" />-->
      <!--<logger name="*" minlevel="Info" writeTo="console" />-->
      <logger name="*" minlevel="Info" writeTo="log4net_file"/>
    </rules>
  </nlog>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
